/* 代码样式部分 */
/* code[class*="language-"],
pre[class*="language-"] {
  color: none;
} */
code[class*=language-], pre[class*=language-] {
  color: inherit;
}

pre[class*=language-] code, .line-numbers {
  color: inherit !important;
}

div[class*=language-].line-numbers-mode::after {
  border-right-color: #e0e0e0;
}

div[class*=language-]::before {
  color: inherit;
}
