// 代码样式部分

code[class*=language-], pre[class*=language-] {
  color: inherit;
}

pre[class*=language-] code {
  color: inherit !important;
}

.line-number {
  line-height: 1;
  opacity: 0.6;
}

// div[class*=language-].line-numbers-mode::after {
//   border-right-color: #e0e0e0;
// }

.theme-default-content code {
  background-color: var(--code-bg-color) !important;
}