.theme-default-content p {
  text-align: justify;
  letter-spacing: 0px;
  overflow: auto;
}

.theme-default-content:not(.custom) {
  margin-top: 10px;
  min-height: calc(100vh - var(--header-height));
  padding-top: 0;

  &>:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}


// 修改导航栏的字体样式
header {
  .site-name, .navbar-links-item, button.dropdown-title>.title {
    font-size: 1rem;
    line-height: 32px;
  }
  .site-name {
    letter-spacing: 1px;
  }

  .navbar-links .navbar-links-item > a {
    padding: 5px 0;
  }
}

// 1920*1080 1.5倍缩放之后的
@media (min-width: 1279px) {
  header.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--header-height) !important;
    border-bottom: none !important;
    // box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    box-shadow: none;
    padding: 0 calc(50% - var(--page-width-w) / 2);
    position: absolute !important;
    top: 0;

    .navbar-links-wrapper {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  .page {
    padding-left: 0!important;
  }
  .sidebar {
    background: none!important;
    top: min(400px, 40%)!important;
    left: auto!important;
    right: 0!important;
    border: none!important;
    width: 14rem !important;
    bottom: auto !important;

    a.sidebar-item {
      position: relative;
      font-size: 12px!important;
      padding-left: 1.55rem;
      border: none;
      transition: 0.3s;
      color: transparent;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        &::before {
          opacity: 0.6;
        }
      }

      &::before {
        content: "";
        position: absolute; 
        width: 14px;
        height: 4px;
        border-radius: 2px;
        left: 0px;
        top: calc(50% - 2px);
        transition: 0.3s;
        background-color: var(--c-text-light-4);
        opacity: 0.1;
      }

      &.active {
        color: inherit !important;
        border: none !important;

        &::before {
          opacity: 0.5;
        }
      }
    }

    p.sidebar-heading {
      display: none;
    }

    .sidebar-sub-items {
      padding-left: 0!important;
      .sidebar-item {
        padding-left: 2.4rem;
        &::before {
          width: 10px;
        }
      }
    }

    &:hover {
      a.sidebar-item {
        color: inherit;
      }
    }
//   }
}

// 1920*1080 1.25倍缩放之后的
@media (min-width: 1535px) {
  .sidebar {
    right: 6rem !important;
  }
}

// 2560*1440 1.5倍缩放之后的
@media (min-width: 1700px) {
  .sidebar {
    right: 10rem !important;
  }
}

@media (min-width: 2000px) {
  .sidebar {
    right: 18rem !important;
  }
}
}

// 去除每个标题前面的 anchor 的显示效果，链接还是存在的，只是透明度是 0
.theme-default-content {
  h1:hover .header-anchor,
  h1:focus .header-anchor,
  h2:hover .header-anchor,
  h2:focus .header-anchor,
  h3:hover .header-anchor,
  h3:focus .header-anchor,
  h4:hover .header-anchor,
  h4:focus .header-anchor,
  h5:hover .header-anchor,
  h5:focus .header-anchor,
  h6:hover .header-anchor,
  h6:focus .header-anchor {
    opacity: 0;
  }
  
  // 去除 h1 和 h2 的下边框,并调整字体等
  h1, h2 {
    border-bottom: none;
    color: #1A1A26;
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-top: 4rem;
  }

  &>h2, &>h3 {
    font-family: 'sohne, "Helvetica Neue", Helvetica, Arial, sans-serif';
  }

  blockquote {
    border-left-width: 0.3rem;
    color: var(--c-text-light-4);
  }
}